#landing-page{
    height: 100vh;
    background-image: url("/assests/Designer.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.Test{
    color: antiquewhite;
    font-size: 75px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 25%;
    padding-left: 7%;
    text-shadow: 3px 3px 5px gold;
}
